body {
  font-size: 120%;
  font-family: 'Barlow', sans-serif;
}

button, input {
  font-size: 100%;
  font-family: Arial;
}

h1{
  font-weight: bold;
}

table {
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.navbar {
  background-color: #11393B;
  font-family: 'Inria Serif', serif;
}

.navbar-brand {
  color: #1F626E !important;
}

.navbar-brand:hover{
  color: white !important;
}

.btn {
  color: #1F626E;
  border-color: #1F626E;
}

.jumbotron {
  padding: 32px;
  text-align: center;
}

.error {
  color: red;
}

.wrapper {
  margin: 0 auto;
  max-width: 825px;
  text-align: center;
}

.total {
  font-size: 150%;
  text-decoration: underline;
}

.form {
  margin-top: 25px;
  width: 100%;
}

.transactions {
  text-align: left;
  max-height: 300px;
  overflow: auto;
  width: 90%;
  margin: 0 auto;
}
